@use "variables" as var;
@use "mixins";
.App{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
    &--classic{
        background-color: var.$c-dark;
    }
    &--inverse{
        background-color: var.$c-light;
    }
    &--gold{
        background-color: var.$c-gold;
    }
}