@use "variables" as var;
@use "mixins";
.List {
    display: flex;
    width: calc(100vw - 3rem);
    position: relative;
    left: 3rem;
    padding-left: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    height: calc(100vh - 15px - 5rem);
    transition: 0.5s ease-in-out;
    &--classic{
        background-color: var.$c-dark;
    }
    &--inverse{
        background-color: var.$c-light;
    }
    &--gold{
        background-color: var.$c-gold;
    }
    &__movie{
        padding: 1rem;
        &__line{
            margin: 0.7rem 0;
            display: flex;
            justify-content: space-evenly;
        }
        &__line span{
            min-width:2rem ;
            max-width: 25rem;
            height: 1.1rem;
            padding: 0.2rem 0.5rem;
            margin: 5px;
            border-radius: 0.8rem;
            background-color: var.$c-light;
        }
        &__box{
            position: relative;
            &__img{
                border-radius:7px;
                transition: 0.7s ease-in-out;
                &--classic{
                    border: 1px solid var.$c-light;
                }
                &--gold{
                    border: 1px solid var.$c-dark;
                }
                &--inverse{
                    filter: invert(1);
                    border: 1px solid var.$c-light;
                }
            }
            &__description{
                display: none;
                position:absolute;
                top:0;
                margin: 1.5rem;
                width: 40rem;
                transition: 0.5s ease-in-out;
                pointer-events: none;
            }
            &__description p{
                margin: 0.5rem 0;
            }
            &__description--inverse p{
                color: var.$c-dark;
            }
            &__img--classic:hover{
                filter: blur(20px) brightness(70%);
            }
            &__img--gold:hover{
                filter: blur(20px) brightness(70%);
            }
            &__img--inverse:hover{
                filter: blur(20px) brightness(70%) invert(1);
            }
            &__img:hover + &__description{
                display: block;
            }

        }
    }
}
.span--classic span{
    border: 1px solid var.$c-light;
}
.span--inverse span{
    border: 1px solid var.$c-dark;
}
.span--gold span{
    border: 1px solid var.$c-dark;
}