@use "variables" as var;
/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255,0,0,0);
  }

  ::-webkit-scrollbar-thumb {
    background: var.$c-light;
    border: 1px solid var.$c-light;
    border-radius: 0.5rem;
  }