@use "variables" as var;
@font-face {
    font-family: 'Telegraf';
    font-weight: bold;
    src: url('../fonts/Telegraf-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Telegraf';
    font-weight:normal;
    src: url('../fonts/Telegraf-Regular.ttf') format('truetype');
}
*,
*::after,
*::before {
    font-family: 'Telegraf', sans-serif;
    color: var.$c-light;
    font-size: 16px;
}
.title{
    font-weight: bold;
}
span{
    color: var.$c-dark
}